.student {
  display: flex;
  height: 105vh;
  font-family: Arial, sans-serif;
  background-color: #F4F6F9;
  color: #333;
}

.slide {
  width: 250px;
  background-color: #0033cc;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  height: 100vh;
}

.logo {
  margin-bottom: 30px;
}

.slide ul {
  list-style: none;
  padding: 0;
  width: 100%;
}

ul li {
  padding: 15px 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.slide ul li:hover {
  background-color: #002299;
}

.main-content {
  margin: 0%;
  flex-grow: 1;
}

.student-stats {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.stat-item {
  flex: 1;
  margin: 0 10px;
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
}

.stat-item p {
  font-size: 32px;
  margin: 0;
}

.stat-item span {
  font-size: 16px;
  color:white
}

.stat-item.regular {
  background-color: #df0f0f;
  color: white;
}

.stat-item.remedial {
  background-color: #960de1;
  color: #fff;
}

.stat-item.paid-clubs {
  background-color: #0efa16;
  color: #fff;
}

.stat-item:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.menu {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.menu-item {
  border-radius: 8px;
  padding: 15px;
  margin: 10px;
  flex-basis: 22%;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

.menu-item:hover {
  background-color: #f0f0f0;
}
h4{
  text-align: center;
}
h2{
  color: white;
  margin-bottom: 80px;
  background-color:blue;
  padding:40px
}img{
  height: 150px;
  border-radius: 50%;
}